.header__links {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: auto;    
}

@media (min-width: 320px) and (max-width: 767px) {         
    .header__links {
        align-items: flex-end;   
    }
}





